.nav--ul{
    display: flex;
    justify-content: center;
    list-style:none;

    li{
        font-weight: bold;
        list-style: none;
        text-align: left;
        color: blanchedalmond;
        margin-left: 10px;
    }
}