@import '../utils/mixins';

.productList{
    &--products{
        h1{
            font-size: $font-size-h1;
        }
        &-article{
            @include cards-center; 
            flex-wrap: wrap;


            img{
                width: 200px;
                height: 200px;
            }
        }
    }
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
