.nav
{
    & > ul{
        display: flex;
        align-content: space-between;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        > li{
            margin: 5px;
            list-style: none;

            & > a{
                font-size: 20px;
                text-decoration: none;
                color: rgb(37, 35, 35);
            }
        }
    }
}
